main {
  display: flex;
  flex-direction: column;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 3.9fr 0.9fr 3.9fr;
  align-items: center;
  padding: 92px 51px 89px;
}

.header__links-list {
  display: flex;
  align-items: center;
}

.header__links-list-main {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-bottom: 8px;
  
}

.header__links-list-item {
  display: list-item;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
  font-size: 18px;
}

.header__link {
  display: list-item;
  list-style-type: circle;
  border-bottom: 1px solid black;
  font-size: 18px;
}

.text-link:hover {
  background-color: #000000;
  color: #FFF;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: inherit;
}

.header__address {
  justify-self: end;
  font-style: inherit;
  margin-bottom: 5px;
  padding-left: 3px;
}

.contacts-element{
  width: 240px;
  padding-right: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.city-address-second{
  padding-top: 12px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  width: 1100px;
  height: 757px;
  background-image: url(images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 183px; ;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  width: 100%;    
  height: 100%;
  top: 0;
  left: 0;
}

.cover_title {
  position: relative;
  z-index: 1;
  padding-top: 165px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  line-height: 1.15;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
}

.aligned-text_right,
.aligned-text_center,
.aligned-text {
  color: #FFF;
  font-size: 100px;
  font-style: Bold;
  font-weight: 700;
  letter-spacing: 30px;

}
.aligned-text {
  display: block;
}


.aligned-text_center {
  line-height: 1;
  text-align: center;
  padding-top: 8px;
  padding-left: 31px;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
  padding-top: 17px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.new-letter-spacing {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.remove-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0px 50px;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;
  letter-spacing: 0.21px;
  font-weight: 400;
  margin-top: 125px;
}

.bet-button {
  border: 1px #FFF solid;
  padding: 14px 32px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  margin-top: 113px;
}

.bet-button:hover {
  color: #000000;
  background-color: #FFF;
}

.lots {
  padding: 0 24px;
  margin-bottom: 157px;
}

.lots__heading {
  padding: 0 0 30px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  list-style: none;
  height: 596px;
}

.lots__card-list-item {
  height: 596px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: auto;
  height: 100%;
}

.card_type_film {
  background-image: url(images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: url(images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  background-image: url(images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding: 50px 40px 0px;
}

.card__text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  justify-content: space-around;
  padding: 0px 40px 45px;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 73px;
  padding:  0 26px 0 70px;
}



.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  display: grid;
  width: 148px;
  height: 114px;
  align-self: center;
  margin-left: 46px;
}

.about__title-and-text-wrapper {
  display: grid;
  
}

.about__title {
  padding: 100px 0 99px 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
}

.about__text {
  display: flex;
  flex-direction: row;
  row-gap: 25px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 25px;
}


.footer {
  display: flex;
  justify-content: space-between;
  padding: 155px 50px 80px;
}

.footer__contacts-element{
  margin-top: 6px;
}

.city-address-2{
  padding-top: 12px;
}

.footer__menu {
  display: grid;
  align-content: start;
  justify-items: center;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__menu-link {
  display: grid;
  align-self: center;
  color: #000;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-skip-ink: none;
}

.footer__menu-link_active {
  text-decoration: none;
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}
